<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>analytics-api</servlet-name>
        <servlet-class>com.mulesoft.arc.arcdatastore.backend.AnalyticsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>letsencrypt-check</servlet-name>
        <servlet-class>com.mulesoft.arc.arcdatastore.backend.LetsEncrypt</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>tasks-api-handlers</servlet-name>
        <servlet-class>com.mulesoft.arc.arcdatastore.backend.TasksServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>analyser-tasks-handlers</servlet-name>
        <servlet-class>com.mulesoft.arc.arcdatastore.backend.AnalyserTaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>analytics-api</servlet-name>
        <url-pattern>/analytics/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>letsencrypt-check</servlet-name>
        <url-pattern>/.well-known/acme-challenge/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tasks-api-handlers</servlet-name>
        <url-pattern>/tasks/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>analyser-tasks-handlers</servlet-name>
        <url-pattern>/analyser/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>generating-random-data-for-testing</web-resource-name>
            <url-pattern>/analytics/random</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>